.institution {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .institution > p:first-child {
    text-decoration: underline;
  }
  
  .institution > .tenure {
    opacity: 0.65;
    font-size: 1rem;
  }
  
  .institutional-info {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 95%;
  }
  
  .institutional-info input {
    width: 100%;
    text-align: right;
    padding-left: 4px;
  }
  
  .institutional-info input:first-child {
    text-align: left;
  }