.institutional-info {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 95%;
}

.institutional-info input {
  width: 100%;
  text-align: right;
  padding-left: 4px;
}

.institutional-info input:first-child {
  text-align: left;
}
