
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


#root {
  min-width: max(320px, 100%);
  padding: 1.5rem 2.5rem;
  --navy-blue: hsl(224, 85%, 40%);
}


h2 {
  text-transform: uppercase;
  color: var(--navy-blue);
}

main {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.75rem;
}

hr {
  border: 2px solid var(--navy-blue);
  width: 100%;
  margin: 0.65rem 0.18rem 0.25rem;
}

article > .heading, aside > .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

article > .content {
  max-width: 92%;
  margin: 0.25rem 0;
}

main article, main aside {
  margin: 0.65rem 0 1rem;
}

.icon {
  width: 30px;
}

ul {
  margin-left: 1.35em;
  text-align: left;
  list-style: circle;
  font-size: 0.95rem;
}

input {
  background: lightyellow;
  font-family: Oswald;
  padding: 0px 2px;
  border: unset;
  border-bottom: 1px solid lightblue;
  font-size: 1rem;
  width: 95%;
  height: 1.6rem;
}


main input.big {
  font-size: 1.25rem;
}

main input.heading {
  font-size: 1.2rem;
}

.role {
  font-weight: bold;
  font-size: 1.1rem;
}

@media (max-width: 599px) {
  main {
    display: block;
  }
}

@media print {
  .icon {
    display: none;
  }
}