
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


#root {
  min-width: max(320px, 100%);
  padding: 1.5rem;
}

.content > * {
  display: block;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 0.2rem;
}

main {
  display: flex;
  gap: 0.25rem;
}

header, main article, main aside {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 0.75rem;
}

main article, main aside {
  margin-top: 0.65rem;
}

.icon {
  width: 30px;
}

ul {
  margin-left: 1.25em;
  text-align: left;
  list-style: circle;
  font-size: 0.9rem;
}

input {
  background: lightyellow;
  font-family: Oswald;
  padding: 0px 2px;
  border: unset;
  border-bottom: 1px solid lightblue;
  font-size: 1rem;
  min-width: 300px;
}

.main-content input {
  width: 95%;
}

main input.big {
  font-size: 1.25rem;
}

main input.heading {
  font-size: 1.2rem;
}

.institution {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  column-gap: 0.2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.institution > span {
  font-weight: normal;
}

.role {
  font-weight: bold;
  font-size: 1.1rem;
}